:root {
    --primary: #9ed284;
    --grey: #f8f8f8;
    --boarder-color: #ccc;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 20px;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.topnav {
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    padding: 14px 16px;
    border: var(--boarder-color) 1px solid;
    width: 100%;
}

.topnav a {
    display: inline;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: var(--primary);
    color: white;
}

.topnav .icon {
    display: none;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid var(--boarder-color);
    background-color: var(--grey);
    text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.tab button.icon {
    display: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--boarder-color);
    border-top: none;
}

#osm_logo {
    position: absolute;
    width: 70px;
}

#osm_logo_karte {
    width: 50px;
}

.osm_heading {
    font-size: 36px;
    text-align: left;
}

.heading {
    background-color: var(--grey);
}

#header {
    padding-top: 24px;
    padding-bottom: 24px;
}

#header-left-section {
    float: left;
    margin-right: 25px
}

#header-logo-image {
    float: left;
    padding: 0 20px 0 0;
    max-width: 100%
}

#header-logo-image img {
    width: 76px;
    height: 79px;
}

#header-text {
    float: left;
    padding: 10px 20px 0 0
}

#site-title a {
    color: #555;
    font-size: 36px;
    text-decoration: none;
}

h1#site-title, h3#site-title {
    padding-bottom: 5px;
    line-height: 36px;
    font-size: 30px
}

#site-title a:hover {
    color: var(--primary);
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    display: none;
}

p.text {
    font-size: 16px;
}

span.read_more {
    text-align: right;
    float: right;
}

a {
    color: var(--primary);
}

div.span-one-half {
    width: 450px;
}

.article {
    padding-top: 8px;
    padding-bottom: 8px;
}

.map-image {
    height: auto;
    width: 640px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background-color: var(--grey);
    padding: 8px;

    border: 1px solid var(--boarder-color);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

footer {
    text-align: center;
}

.footer-banner-icon {
    display: block;
    height: 70px;
}

.footer-green-section {
    background-color: var(--primary);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 32px;
}

.footer-linklist {
    padding-bottom: 1em;
    text-align: center;
    color: white;
}

.footer-linklist a {
    color: white;
}

.footer-licence {
    color: white;
}

.footer-licence a {
    color: white;
}

div.span-one-half {
	width: 50%;
    float: left;
    background-color: #F2F2F2;
    padding-top: 16px;
    padding-bottom: 16px;
}


/* @media screen and (max-width: 600px) { */
@media screen and (max-width: 980px) {

    #header {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    #header-text {
        float: none;
        padding: 0;
    }

    #header-left-section {
        float: none;
        margin-right: 0;
    }

    #header-logo-image {
        float: none;
        padding-top: 20px;
    }

    h1#site-title, h3#site-title {
        padding-bottom: 0;
        line-height: 32px;
        font-size: 30px
    }

    .container {
        width: 100%;
    }

    .content-container {
        width: 90%;
    }

    .topnav {
        padding: 0;
    }

    .topnav a {
        display: none;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
        padding: 0;
    }

    .topnav.responsive a {
        display: block;
        text-align: left;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        padding: none;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        width: 100%;
    }

    .tab.responsive {
        position: relative;
        text-align: center;
    }

    .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Style the buttons inside the tab */
    .tab button:not(:first-child) {
        display: none;
    }

    .tab.responsive button {
        float: none;
        display: block;
        text-align: center;
    }

    .tab button.icon {
        float: right;
        display: block;
    }

    .map-image {
        height: auto;
        width: 90%;
    }

    div.span-one-half {
        width: 100%;
        float: none;
    }

    .footer-banners {
        background-color: #F2F2F2;   
        padding-bottom: 32px;    
    }

    .footer-green-section {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 0;
    }

}