:root {
    --primary: #9ed284;
    --primary-darker: #619645;
    --grey: #f8f8f8;
    --border-color: #ccc;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


nav {
    text-align: center;
    padding: 14px 16px;
}

nav a {
    color: #000;
    padding: 14px 16px;
    text-decoration: none !important;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: var(--primary);
    color: white;
}

nav .icon {
    display: none;
}

nav svg {
    position: relative;
    top: 4px;
    width: 20px;
    height: 20px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--grey);
    text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.tab button.icon {
    display: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--border-color);
    border-top: none;
}

#osm_logo_karte {
    width: 50px;
}

header {
    background-color: var(--grey);
}

#weekly-osm {
    display: block;
    float: right;
    background-color: var(--grey);
    margin-left: 10px;
    border: 1px solid maroon;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    color: maroon;
    font-size: 1.2rem;
    text-decoration: none;
}

#title {
    display: block;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
}

#title img {
    width: 64px;
}

#title span {
    position: relative;
    top: -26px;
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    display: none;
}

p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

a.extlink {
    background-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M388.364 242.764V421.455C388.364 432.738 383.881 443.56 375.902 451.539C367.924 459.518 357.102 464 345.818 464H90.5455C79.2617 464 68.4401 459.518 60.4613 451.539C52.4825 443.56 48 432.738 48 421.455V166.182C48 154.898 52.4825 144.076 60.4613 136.098C68.4401 128.119 79.2617 123.636 90.5455 123.636H269.236" stroke="black" stroke-width="32" stroke-linecap="round" stroke-linejoin="round"/><path d="M464 180.364L464 48L331.636 48" stroke="black" stroke-width="32" stroke-linecap="round" stroke-linejoin="round"/><path d="M216 296L464 48" stroke="black" stroke-width="32" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 16px;
}

span.read_more {
    text-align: right;
    float: right;
}

a {
    color: var(--primary-darker);
}

div.span-one-half {
    width: 450px;
}

.article {
    padding-top: 8px;
    padding-bottom: 8px;
}

.map-image {
    height: auto;
    width: 640px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background-color: var(--grey);
    padding: 8px;

    border: 1px solid var(--border-color);
}

.swiper-slide {
    text-align: center;
    font-size: 1.2rem;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

footer {
    background-color: var(--primary);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 32px;
    color: white;
}

footer a {
    color: white;
}

.footer-linklist {
    padding-bottom: 1em;
    text-align: center;
}

.number {
    float: left;
    height: auto;
    width: 80px;
}

.screenshots {
    float: right;
    height: auto;
    width: 350px;
    border: 1px solid #000;
}

.line {
    margin-top: 160px;
}



/* @media screen and (max-width: 600px) { */
@media screen and (max-width: 980px) {

    #header {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    #header-text {
        float: none;
        padding: 0;
    }

    #header-left-section {
        float: none;
        margin-right: 0;
    }

    #header-logo-image {
        float: none;
        padding-top: 20px;
    }

    main {
        width: 90%;
    }

    nav {
        padding: 0;
    }

    nav a {
        display: none;
    }

    nav a:not(:first-child) {
        display: none;
    }

    nav a.icon {
        float: right;
        display: block;
    }

    nav.responsive {
        position: relative;
        padding: 0;
    }

    nav.responsive a {
        display: block;
        text-align: left;
    }

    nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        padding: none;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        width: 100%;
    }

    .tab.responsive {
        position: relative;
        text-align: center;
    }

    .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Style the buttons inside the tab */
    .tab button:not(:first-child) {
        display: none;
    }

    .tab.responsive button {
        float: none;
        display: block;
        text-align: center;
    }

    .tab button.icon {
        float: right;
        display: block;
    }

    .map-image {
        height: auto;
        width: 90%;
    }

    div.span-one-half {
        width: 100%;
        float: none;
    }

    .footer-banners {
        background-color: #F2F2F2;
        padding-bottom: 32px;
    }

    .footer-green-section {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 0;
    }

    .screenshots {
        display: block;
        float: none;
    }

    .line {
        margin-top: 50px;
    }

}

/* boxes */

div.boxes {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

div.boxes > div {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

div.boxes > div > h2 {
    margin: 0;
    background-color: #e0e0e0;
    padding: 4px 10px;
    font-size: 1.4rem;
}

div.boxes > div > table {
    padding: 10px;
}

div.boxes > div > table td {
    vertical-align: top;
}

div.boxes > div > p {
    padding: 0 10px;
}

/* Kalender */

.cal-events {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cal-events > div {
    display: grid;
    grid-template-rows: 1fr repeat(2, max-content);
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    vertical-align: bottom;
    width: 160px;
    height: 160px;
}

.cal-events img {
    width: 100px;
}

.cal-events > div > div {
    margin-top: 10px;
}

