{{ $backlinks := slice }}
{{ $path_base := .page.File.ContentBaseName }}
{{ $path_base_re := printf `["/(]%s["/)]` $path_base }}

{{ range where site.AllPages "RelPermalink" "ne" .page.RelPermalink }}
    {{ if (findRE $path_base_re .RawContent 1) }}
        {{ $backlinks = $backlinks | append . }}
    {{ end }}
{{ end }}

{{ with $backlinks }}
    <div class="backlinks">
        {{ printf "%s" ($.heading | default "<b>Backlinks:</b>") | safeHTML }}
        {{ range . }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a> &middot;
        {{ end }}
    </div>
{{ end }}
