<footer>
    <div class="footer-linklist">
        <a href="/impressum/">Impressum</a> &middot; <a href="https://www.fossgis.de/datenschutzerklärung/">Datenschutzerklärung</a>
    </div>
    <div class="footer-licence">
        Alle Kartenbilder auf dieser Seite basieren auf OpenStreetMap-Daten und stehen unter der Lizenz<br>
        <a target="_blank" href="https://creativecommons.org/licenses/by-sa/2.0/">Creative Commons Attribution Share Alike-Lizenz 2.0</a>.
        <a href="/faq/#wie-ist-das-mit-der-lizenz">Mehr zur Lizenz...</a>
    </div>
</footer>
