    <nav>
        {{- $path := "" -}}
        {{- with .File -}}
        {{-   $path = printf "/%s" .File.Path }}
        {{- end -}}
        {{ $current := . }}
        {{ range site.Menus.main -}}
        {{- if eq .Name "" -}}
        <div class="nav-link-spacer"></div>
        {{- else -}}
        <a class="nav-link{{- if hasPrefix $path (.URL | relURL) }} nav-link-active{{- end -}}{{- if isset .Params "short" }} nav-link-short{{- end -}}" href="{{.URL | relURL}}" title="{{ .Name }}">{{.Pre}} <span>{{.Name}}</span></a>
        {{ end -}}
        {{ end -}}
        <a href="#" id="menu-toggle" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg></a>
    </nav>
