<div class="cal-events">
    {{ $c := index $.Site.Data (.Get "calendar") }}
    {{ $cf := where $c.event "dateTo" "gt" (now.Format "2006-01-02") }}
    {{ range sort $cf "dateFrom" -}}
    <div>
        <a href="{{ .href }}">
        {{- if isset . "image" -}}
        <img alt="{{ .title }}" src="/img/cal/{{ .image }}"/>
        {{- else -}}
        {{ .title }}
        {{- end -}}
        </a>
        <div>{{ .location }}<br/>{{ .dateText }}</div>
    </div>
    {{ else -}}
    <i>(Derzeit keine Events geplant.)</i>
    {{ end -}}
</div>
