  		<p>
  			Der <a target="_blank" href="https://www.floss-shop.de/de/">FLOSS-Shop</a> (vormals kernel-concepts) lässt seit Jahren für Linux und andere Open-Source-Projekte,
			Plüsch-Pinguine, Pins, T-Shirts und dergleichen herstellen und verkauft sie über seinen Online-Shop. Viele werden sie auch vom LinuxTag
			oder anderen Messen kennen. Es gibt dort auch OpenStreetMap-Fan-Artikel.
		</p>

  	<div id="fan" class="page-header">
    	<h2>Artikel</h2>
    	<table id="table_fan">
    		<tr>
				<td><a target="_blank" href="https://www.floss-shop.de/de/floss-merchandise/openstreetmap/5/osm-pin?c=7"><img width="80px" src="img/osm-pin.jpg" alt="OSM-Pin" title="Pin mit OSM-Logo"/></a></td>
    			<td class="span9">Pin mit OpenStreetMap-Logo. Der Pin ist ca. 1,5cm hoch und 2cm breit und in der Form des Logos ausgeschnitten.</td>
				<td>1,50€ (inkl. 0,50€ Spende)<br/><a target="_blank" href="https://www.floss-shop.de/de/floss-merchandise/openstreetmap/5/osm-pin?c=7">Zum Shop</a></td>
    		</tr>
    		<tr>
				<td><a target="_blank" href="https://www.floss-shop.de/de/floss-merchandise/openstreetmap/6/osm-tasse?c=7"><img width="80px" src="img/tasse-big.png" alt="OSM-Tasse" title="OSM Cheat Mug"/></a></td>
				<td class="span9">Diese Tasse enthält 179 der wichtigsten OSM-Tags als Gedankenstütze für den täglichen Gebrauch. Die Tasse ist spülmaschinenfest.</td>
				<td>7,50€ (inkl. 1,30€ Spende)<br/><a target="_blank" href="https://www.floss-shop.de/de/floss-merchandise/openstreetmap/6/osm-tasse?c=7">Zum Shop</a></td>
    		</tr>
    	</table>
    	<p>
    		Wenn Ihr noch andere Ideen habt, welche Fan-Artikel ihr gerne wollt, könnt ihr Petra Kirchner (petra@floss-shop.de) ansprechen.
    	</p>

  	</div>
	
	<div id="fan" class="page-header">
    	<h2>Sammelbestellungen</h2>
    	 <p>
    	 	Der Einzelversand insbesondere der Tassen ist natürlich relativ teuer. Vielleicht wollen einige lokale Gruppen Sammelbestellungen organisieren.
    	 	Bei Fragen dazu könnt Ihr Euch an Petra Kirchner (petra@floss-shop.de) wenden. Auch wenn ihr auf einer Messe oder dergleichen die Sachen verkaufen wollt,
    	 	läßt sich das arrangieren.
    	 </p>
    	 <p>
    	 	Die Tassen lassen sich besonders einfach in Lagen zu 12 oder einem Karton zu 36 verpacken.
    	 </p>
  	</div>
