
        <div class="tab" id="myDropdown">
            <button class="tablinks" onclick="openTab(event, 'Maps')" id="defaultOpen">Karten</button>
            <button class="tablinks" onclick="openTab(event, 'Devices')">Mobile Gerätes</button>
            <button class="tablinks" onclick="openTab(event, 'Look')">Zum Anschauen</button>
            <button class="tablinks" onclick="openTab(event, 'Try')">Zum Ausprobieren</button>
            <button class="icon" onclick="toggleDropdown()"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
            <!-- <a class="icon" onclick="toggleDropdown()"><i class="fa fa-caret-down" aria-hidden="true"></i></a> -->
        </div>

        <div id="Maps" class="tabcontent">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <li>
                            <a target="_self" href="karte/">
                                <img src="img/maps/germanstyle.png" alt="">
                            </a>
                            <div class="description"><a target="_self" href="karte/">OpenStreetMap</a><br>mit einem
                                „deutschen“
                                Kartenstil</div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://www.öpnvkarte.de/">
                                <img src="img/maps/oepnv.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="https://www.öpnvkarte.de/">ÖPNV-Karte</a><br>mit
                                der Ausrichtung auf den Nahverkehr</div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://opentopomap.org/">
                                <img src="img/maps/opentopomap.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="https://opentopomap.org/">OpenTopoMap</a><br>an
                                die amtliche topographische Karte 1:50.000 angelehnt</div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://www.wanderreitkarte.de/">
                                <img src="img/maps/reitwander.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank"
                                    href="https://www.wanderreitkarte.de/">Wanderreitkarte</a><br>speziell für Reiter und
                                Wanderer</div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://www.openseamap.org/">
                                <img src="img/maps/sea.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="https://www.openseamap.org/">OpenSeaMap</a><br>für
                                die Seefahrt</div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://www.opencyclemap.org/">
                                <img src="img/maps/opencyclemap.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank"
                                    href="https://www.opencyclemap.org/">OpenCycleMap</a><br>für Radfahrer</div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://www.opensnowmap.org/">
                                <img src="img/maps/opensnowmap.png" alt="OpenSnowMap" />
                            </a>
                            <div class="description"><a target="_blank"
                                    href="https://www.opensnowmap.org/">OpenSnowMap</a><br>für Wintersportler</div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="http://openfiremap.org/?zoom=11&lat=49.46227&lon=11.05597&layers=B0000TF">
                                <img src="img/maps/openfiremap.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank"
                                    href="http://openfiremap.org/?zoom=11&lat=49.46227&lon=11.05597&layers=B0000TF">OpenFireMap</a><br>Feuerwehrhäuser
                                und Hydranten</div>
                        </li>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        
        <div id="Devices" class="tabcontent">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://wiki.openstreetmap.org/wiki/DE:Garmin">
                            <img src="img/devices/garmin.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="https://wiki.openstreetmap.org/wiki/DE:Garmin">Karten für Garmin-Geräte</a></div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://wiki.openstreetmap.org/wiki/DE:Android">
                            <img src="img/devices/googlenexus.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="https://wiki.openstreetmap.org/wiki/DE:Android">Programme &amp; Karten für Android-Systeme</a></div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Apple_iOS">
                            <img src="img/devices/iphone.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="https://wiki.openstreetmap.org/wiki/Apple_iOS">Programme &amp; Karten für Apple-iOS-Geräte</a></div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Magellan">
                            <img src="img/devices/magellan.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="https://wiki.openstreetmap.org/wiki/Magellan">Karten für Magellan-Geräte</a></div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://wiki.openstreetmap.org/wiki/Software">
                            <img src="img/devices/weitereplattformen.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="https://wiki.openstreetmap.org/wiki/Software">Weitere Plattformen</a></div>
                        </li>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        
        <div id="Look" class="tabcontent">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="http://bestofosm.org/">
                            <img src="img/maps/bestosm.png" alt="" />
                               </a>
                            <div class="description"><a target="_blank" href="http://bestofosm.org/">Beispiele für schön gemappte/interessante Orte in OSM</a></div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://taginfo.openstreetmap.org">
                            <img src="img/taginfo.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="https://taginfo.openstreetmap.org">Taginfo sammelt und aggregiert Informationen über OSM-Tags</a></div>
                        </li>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        
        <div id="Try" class="tabcontent">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://tools.geofabrik.de/mc/">
                                <img src="img/services/map-compare.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="https://mc.bbbike.org/mc/">Vergleiche OSM-Karten
                                    mit anderen Karten</a></div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <img src="img/services/routeservices.png" alt="" />
                            <div class="description">Routenplaner, z.B. <a target="_blank"
                                    href="https://maps.openrouteservice.org/directions">Openrouteservice</a>, <a target="_blank"
                                    href="https://graphhopper.com/maps/">GraphHopper</a> und <a target="_blank"
                                    href="https://routing.openstreetmap.de/?hl=de">Open Source Routing Machine</a></div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="https://www.openstreetmap.org/export">
                                <img src="img/services/export_osmorg.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank"
                                    href="https://www.openstreetmap.org/export">Exportiere</a> OSM-Daten in verschiedenen
                                Formaten oder drucke Stadtpläne mit <a target="_blank"
                                    href="https://maposmatic.osm-baustelle.de/">MapOSMatic</a> aus.</div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="http://yapis.geoclub.de/">
                                <img src="img/services/yapis.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="http://yapis.geoclub.de/">Schnell und einfach
                                    interessante Orte (POIs) eintragen</a></div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <a target="_blank" href="http://osmtools.de/easymap/">
                                <img src="img/services/osm_slippy.png" alt="" />
                            </a>
                            <div class="description"><a target="_blank" href="http://osmtools.de/easymap/">Erstelle eine eigene
                                    OSM Karte für eine Webseite</a></div>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li>
                            <img src="img/services/wordpress.png" alt="" />
                            <div class="description">WordPress Plugins (<a target="_blank"
                                    href="http://www.mapsmarker.com/">Maps Maker</a>, <a target="_blank"
                                    href="https://wiki.openstreetmap.org/wiki/Wp-osm-plugin">WP-OSM Plugin</a>) zum Einbinden
                                von Karten</div>
                        </li>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
